- form_remote_tag :url => session_path do
  %p  
    = label_tag :login, '昵称'
    = text_field_tag :login, params[:login], :is_focus => true
  %p  
    = label_tag :password, '密码'
    = password_field_tag :password
  %p  
    = submit_tag '登录', :class => "button"
