:javascript
  var game_id = '#{@game.id}';
  var game_name = '#{@game.name}';
.span-18
  .center_text
    %span.tip 您正玩
    %span#title=@game.name
    %span.tip 游戏说明在那==>
  =swf_tag @game.url, :id => 'game_bg', :width => 720, :height => 540
  .tip 游戏文件较大，请等候

.span-6.last
  .shareit.float_right= render :partial => 'home/shareit', :locals => { :path => show_game_url(@game), :title => "好玩的在线小游戏:#{@game.name} 小游网", :show => "收藏分享这个游戏"}
  .wikistyle
    %h3 游戏说明
    .description
      :textile
        #{@game.description}
